{% extends '../../base.html' %} {% block title %}Login{% endblock %}
{%block content %} {% load socialaccount %}
<div class="container font-inter">
  
  <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
              <div class="card-body">
                  <h5 class="card-title text-center">Sign In</h5>
                  <form class="form-signin" action="." method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                      Error: Username or Password not correct!
                    </div>
                    {% endif %}
                    <div class="col-md-12 mb-20">
                      <label class="form-label">{{ form.username.label}}</label>
                                          {{ form.username}}
                  </div>
                  <div class="col-12 mb-20">
                    <label>{{form.password.label}}</label>
                    {{form.password}}
                  </div> 
                  <div class="col">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  </div>
                    
                    <div>
                      <a href={%url 'accounts:pwdreset'%}>Forgotten Password?</a>
                    </div>
                    <hr >
                    <div><span>Don't have an Account?</span>
                      <span>
                      <a href="{% url "accounts:register" %}">Create an account</a>
                      </span>
                      </div>
                      
                      <div class="row mt-4">
                        <div class='col'>
                          <a href="{% provider_login_url 'google' %}">
                            <button class="btn btn-google" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                        
                          </a>
                          </div>
                        <div class='col'>
                          <button class="btn btn-facebook" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                        </div>
                        </div>
                       
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{%endblock%}
