{% extends '../../base.html' %} {% block title %}Krakye Clothing || Wishlist{% endblock%}
{% block content %} {%load static%}
<!--Wishlist-->
<main>
        <section id="cart" class="py-5">
            <div class="shadow-m card">
              <div class="row">
                  <div class="col-12 cart">
                      <div class="title">
                          <div class="row">
                              <div class="col">
                                  <h4><b>Your Wishlist</b></h4>
                              </div>
                              <div class="col align-self-center text-right text-muted">3 items</div>
                          </div>
                      </div>
                      <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col"><img class="img-fluid" src="assets/product-2.jpg"></div>
                            <div class="col">
                                <div class="row text-muted">Shirt</div>
                                <div class="row">Cotton T-shirt</div>
                            </div>
                            <div class="col text-center"> 
                                  <span> 44.00</span>
                          </div>
                          <div class="col-md pt-2 font-size-16 font-inter">
                              <button type="submit" class="btn btn-product form-control">Delete</button>
                          </div>
                          <div class="col-md pt-2 font-size-16 font-inter">
                              <button type="submit" class="btn btn-product form-control">Add to Cart</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="row main align-items-center">
                              <div class="col"><img class="img-fluid" src="assets/product-2.jpg"></div>
                              <div class="col">
                                  <div class="row text-muted">Shirt</div>
                                  <div class="row">Cotton T-shirt</div>
                              </div>
                              <div class="col text-center"> 
                                    <span> 44.00</span>
                            </div>
                            <div class="col-md pt-2 font-size-16 font-inter">
                                <button type="submit" class="btn btn-product form-control">Delete</button>
                            </div>
                            <div class="col-md pt-2 font-size-16 font-inter">
                                <button type="submit" class="btn btn-product form-control">Add to Cart</button>
                            </div>
                          </div>
                      </div>
                      <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col"><img class="img-fluid" src="assets/product-2.jpg"></div>
                            <div class="col">
                                <div class="row text-muted">Shirt</div>
                                <div class="row">Cotton T-shirt</div>
                            </div>
                            <div class="col text-center"> 
                                  <span> 44.00</span>
                          </div>
                          <div class="col-md pt-2 font-size-16 font-inter">
                              <button type="submit" class="btn btn-product form-control">Delete</button>
                          </div>
                          <div class="col-md pt-2 font-size-16 font-inter">
                              <button type="submit" class="btn btn-product form-control">Add to Cart</button>
                          </div>
                        </div>
                      </div>
                      <div class="back-to-shop"><a href="#"><i class="fa-solid fa-arrow-left-long"></i><span class="text-muted font-inter"> Back to shop</span></a></div>
                  </div>
              </div>
          </div>
      
          </section>
</main>
<!--Wishlist-->
{%endblock%}