{% extends '../../base.html' %} {% load static %} {% block title %}
Dashboard {%endblock %} {% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content mt-5 font-inter padding-y bg">

  <div class="container-fluid">
    
    <div class="row">
    
    <div class="container">
      <div class="row">
      {% include 'includes/dash_sidebar.html' %}
      <main class="col-md-9">
        <article class="card">
        <header class="card-header">
          <strong class="d-inline-block mr-3">Edit Profile</strong>
        </header>
        <div class="card-body">
          <div class="row">
            
          <div class="col-md-12">
            {%include '../../includes/alerts.html'%}
            <form action='.' method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Current Password</label>
                  <input type="password" name="old_password" class="form-control" placeholder="Current Password" id="form-oldpass" required="">
                </div>
                <div class="form-group col-md-6">
                  <label>Create New Password</label>
                  <input type="password" name="new_password" class="form-control" placeholder="New Password" id="form-new-pass2" required="">
                </div>  
                <div class="form-group col-md-6">
                  <label>Confirm New Password</label>
                  <input type="password" name="confirm_password" class="form-control" placeholder="Confirm New Password" id="form-confirm-pass2" required="">
                </div>  
              </div>
              <hr class="mb-3">
              <div class="d-flex flex-row">
                <button class="btn btn-primary" type="submit"
                value="Save changes">Save Changes</button>
              </div>
            </form>
          </div>
    
          </div> <!-- row.// -->
        </div> <!-- card-body .// -->
    
        </article> <!-- order-group.// -->
      </main>
    </div> <!-- row.// -->
    </div>
  
  
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  

{%endblock%}
