{% load i18n %}{% autoescape off %}
Hello {{user.first_name | capfirst}},

{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{domain}}.{% endblocktranslate %}

{% translate "Please Click on the link to reset your password:" %}

{% block reset_link %}
http://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The Krakye Clothing team{% endblocktranslate %}

{% endautoescape %}
