{% extends '../../base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "accounts:dashboard" %}';
    </script>
{% endif %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content font-inter padding-y" style="min-height:84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
      <div class="card mx-auto border "  style="max-width: 450px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Forgot Password</h4>
          <form action="." method="POST">
            {% csrf_token %}      
            {%include '../../includes/alerts.html'%}    
              <div class="form-group">
                <label>Please enter your email to search for your account:</label>
                <input type="email" class="form-control" placeholder="Email " name="email" >
              </div> <!-- form-group// -->
              <hr>
              <div class="">
                  <div class="d-flex flex-row-reverse">
                    <div class="pl-2"><a class='m-0' href="{%url 'accounts:login'%}"> <button class="btn btn-primary font-inter"> Search  </button></a></div>
                    <div class=""><a href=""> <button type="submit" class="btn btn-primary font-inter"> Cancel  </button></a></div> 
                  </div>
               
              </div> <!-- form-group// -->   
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'accounts:register' %}">Sign up</a></p>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
  
{% endblock %}