{% extends '../../base.html' %} {% block title %}Krakye Clothing || Cart{% endblock%}
{% block content %} {%load static%}
<link rel="stylesheet" href="{%static 'css/ui.css'%}">
  <!--Main site-->
  <main id="main-site">
    <!--Shopping Cart Section-->
    <section id="cart" class="py-3">
      <div class="container">
        <div class="row">
         {%if not cart_items%}
          <div class="pt-4 m-auto text-center font-inter">
            <span class="material-icons text-muted" style="font-size:9rem; margin-top: 3rem; margin-bottom: 3rem;">
              remove_shopping_cart
              </span>
                <p class="font-size-40">No item in Cart</p>
                <a href="{%url 'store:shop'%}"><button type="submit" class="btn btn-checkout mb-3"> <span class="font-inter font-size-16">Return to Shop</span></button></a>
          </div> 
          {%else%}        
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted">{{cart_item_count}} items</div>
                    </div>
                </div>
                
                {%for cart_item in cart_items%}
                <div data-index='{{cart_item.id}}' class="row border-top border-bottom  product-item">
                    <div class="row main align-items-center">
                        <div class="col col-md-2">
                          <img src="{{cart_item.product.images.url}}" class="img-sm">
                        </div>
                      
                        <div class="col">
                            <div class="row text-muted font-size-14">{{cart_item.product.category}}</div>
                            <div class="row font-inter font-size-16">{{cart_item.product.product_name}}</div>
                        </div>
                        <div class="col font-inter d-flex justify-content-center text-center">
                          <div class="price-wrap"> 
                          <span class="font-size-14 frow"> <strong>GH₵ {{cart_item.product.discounted_price}}</strong></span> 
                           
                        </div> <!-- price-wrap .// --> 
                    </div>
                        <div class="col d-flex justify-content-center text-center"> 
                          <div class="input-group input-spinner">
                            <div class="input-group-prepend">
                              <a href="{%url 'cart:cart_delete' cart_item.product.id%}">
                                <button class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </button>
                              </a>
                            </div>
                            <div>
                              <input type="text" class="form-control" style="width: 3rem"   value="{{cart_item.quantity}}">
                            </div>
                            <div class="input-group-append">
                              <a href="{%url 'cart:add_cart' cart_item.product.id%}" class='m-0'>
                                <button  class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-plus"></i> </button>
                              </a>
                            </div>
                          </div> <!-- input-group.// -->
                          
                         </div>
                        
                    <div class="col font-size-16 font-inter">
                      <a href="{%url 'cart:cart_item_delete' cart_item.product.id%}">
                        <button type="submit" id="delete-btn" data-index="{{product.id}}" class="btn btn-danger form-control font-inter delete-btn">Delete</button>
                      </a>
                      
                  </div>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class="col-md-4 summary font-inter">
              <div class="card mb-3">
                <div class="card-body">
                <form>
                  <div class="form-group">
                    <label>Have coupon?</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="" placeholder="Coupon code">
                      <span class="input-group-append"> 
                        <button class="btn btn-product">Apply</button>
                      </span>
                    </div>
                  </div>
                </form>
                </div> <!-- card-body.// -->
              </div>  <!-- card .// -->
              
              <div class="card font-inter ">
                <div class="card-body">
                  <dl class="dlist-align">
                    <dt>Total price:</dt>
                    <dd class="text-right font-inter">GH₵{{total}}</dd>
                  </dl>
                  <dl class="dlist-align">
                    <dt>Discount:</dt>
                    <dd class="text-right font-inter ">GH₵0.00</dd>
                  </dl>
                  <dl class="dlist-align">
                    <dt>Total:</dt>
                    <dd class="text-right font-inter text-dark b"><strong>GH₵{{total}}</strong></dd>
                  </dl>
                  <hr>
                  <p class="text-center mb-3">
                    <img src="{%static 'images/payments.png'%}" height="26">
                  </p>
                  <a href="./place-order.html"   ><button class="btn btn-product btn-block">Proceed to Checkout</button></a>
                  <a href="{%url 'store:shop'%}"   ><button class="btn btn-primary btn-block"> Continue Shopping</button></a>
                </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            
            </div>
                
        </div>
    </div>
    {%endif%}

    </section>
    <!--End Shopping Cart Section-->

    <!--New Clothes-->
    <section id="new-clothes">
        <div class="container py-5">
          <h4 class="font-inter font-size-20">Related Products</h4>
          <hr>
          <!--Owl carousel-->
        <div class="owl-carousel owl-theme">
          <div class="shadow-sm item py-2 m-2" style="width: 200px">
            <div class="product font-inter">
              <button type="button" class="btn p-0" data-toggle="modal" data-target=".bd-example-modal-lg"><img src="assets/product-1.jpg" alt="product-1" class="img-fluid" style="width: 198px; height: 242.3px;"></button>
              <div class="mt-2">
                <h4 class="product-category mx-2 border-bottom"><a class="text-black font-size-14 text-muted" href="">Church</a></h4>
              </div>
              
              <div class="text-center ml-2">
                <div class="d-flex align-items-center justify-content-between mb-0">
                  <h6>Kaftan Men</h6>
                  <button class="btn btn-wishlist pb-3" style="color: black;">
                    <svg id="btn_wishlist" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" onclick="myFunction(this)" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                  </button>
                </div>
                <div class="price d-flex text-left font-size-14">
                  <span class="new-price p-2">$150</span>
                  <span class="old-price text-muted p-2">$140</span>
                  <span class="discount-percentage ml-auto p-2 text-danger">-7%</span>
                </div>
                <button type="submit" class="btn btn-product font-size-12" data-toggle="modal" data-target=".bd-example-modal-lg">View Product</button>
              </div>
            </div>
          </div>
        </div>
        <!--End Owl carousel-->
        </div>
        
      </section>
      
      <!--End New Clothes-->
  </main>
  <script>
    var updateBtns = document.getElementsByClassName('delete-btn')

      for (var i = 0; i < updateBtns.length; i++){
          updateBtns[i].addEventListener('click', function(){
            var proid = $(this).data('index')
            
            $.ajax({
                type: 'POST',
                url: '{% url "cart:cart_delete" %}',
                data: {
                    productid: $(this).data('index'),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                  $('.product-item[data-index= "'+ proid + '"]').remove();
                  document.getElementById('subtotal').innerHTML = json.subtotal
                  document.getElementById('cart-qty').innerHTML = json.qty 
                },
                error: function (xhr, errmsg, err) {}
            });
          })
      }
  </script>
  <!--End Main site-->
{%endblock%}