<footer id="footer" class="color-second-bg py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-12 text-center">
          <img src="https://festus-kwafo.github.io/KrakyeClothing/assets/logo.png" width="90px" height="100px" alt="">
        </div>
        <div class="col-lg-4 col-12">
          <h4 class="font-rubik font-size-20 text-dark">Contact</h4>
          <div class="d-flex flex-column flex-wrap ">
            <span class="font-inter font-size-12 text-black-50 pb-1" > <b>Address:</b>  <a href="https://goo.gl/maps/PvDEY96d2sS3cyo46" class="text-black-50 text-decoration-none">Hannah School Road, Madina</a> </span>
            <span class="font-inter font-size-12 text-black-50 pb-1" > <b>Email:</b>  <a href="mailto:festuskwafo11@gmail.com" class="text-black-50 text-decoration-none" >Krakye Clothing</a></span>
            <span class="font-inter font-size-12 text-black-50 pb-1" ><b>Mobile: </b><a href="tel:+233205115005" class="text-black-50 text-decoration-none" >0205115005</a></span>
            <span class="font-inter font-size-12 text-black-50 pb-1" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, assumenda!</span>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <h4 class="font-rubik font-size-20 text-dark">Information</h4>
          <div class="d-flex flex-column flex-wrap">
            <a href="#" class="font-inter font-size-14 text-black-50 pb-1 text-decoration-none">About Us</a>
            <a href="#" class="font-inter font-size-14 text-black-50 pb-1 text-decoration-none">Delivery Information</a>
            <a href="#" class="font-inter font-size-14 text-black-50 pb-1 text-decoration-none">Privacy Policy</a>
            <a href="#" class="font-inter font-size-14 text-black-50 pb-1 text-decoration-none">Terms & Conditions</a>
          </div>
        </div>
      </div>
    </div>

  </footer>
  