{%load static%}
<footer id="footer" class="color-second-bg py-5 text-light">
    <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-3 col-12 text-center">
          <img src="{%static 'images/logo-white.png'%}" width="98px" height="149px" class="img-fluid" alt="logo">
        </div> 
        <div class="col-lg-4 col-12">
          <h4 class="font-rubik font-size-20 ">Contact</h4>
          <div class="d-flex flex-column flex-wrap text-light pl-2">
            <span class="font-inter font-size-12  pb-1" > <b>Address:</b>  <a href="https://goo.gl/maps/PvDEY96d2sS3cyo46" class="text-light text-decoration-none">Hannah School Road, Madina</a> </span>
            <span class="font-inter font-size-12 pb-1" > <b>Email:</b>  <a href="mailto:krakyegh@gmail.com" class="text-light text-decoration-none" >krakyegh@gmail.com</a></span>
            <span class="font-inter font-size-12  pb-1" ><b>Mobile: </b><a href="tel:+233205115005" class="text-light text-decoration-none" >0205115005</a></span>
            <span class="font-inter font-size-12 pb-1" >Stitches That Speak!</span>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <h4 class="font-rubik font-size-20 text-light">Information</h4>
          <div class="d-flex flex-column flex-wrap text-light">
            <a href="#" class="font-inter font-size-14 text-light  pb-1 text-decoration-none">About Us</a>
            <a href="#" class="font-inter font-size-14 text-light  pb-1 text-decoration-none">Delivery Information</a>
            <a href="#" class="font-inter font-size-14 text-light pb-1 text-decoration-none">Privacy Policy</a>
            <a href="#" class="font-inter font-size-14 text-light pb-1 text-decoration-none">Terms & Conditions</a>
          </div>
        </div>
      </div>
    </div>

  </footer>
  <div class="copyright text-center color-second-bg text-light px-0">
    <span class="font-inter font-size-14">Copyrights &copy; <script>document.write(new Date().getFullYear())</script> Krakye Clothing. All rights reserved </span>
  </div> 
  