<nav class=" px-5 ml-3 navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-between">
    <a class="navbar-brand" href="{%url "store:home"%}"><img src="https://festus-kwafo.github.io/KrakyeClothing/assets/logo.png" width="70" alt="" class="img-fluid"></a>
        <div class="input-group col-6">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-product" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="d-flex">
            <div class="mr-3 navbar-item-hidden">
              <a href="">
                <button class="btn btn-wishlist" style="color: black;">
                  <span class="material-icons font-size-40">
                      favorite_border
                      </span>
                  <span class="btn-wishlist__badge">4</span>
              </button>
              </a>    
            </div>
            <div>
              <a href="{%url 'cart:cart_summary'%}">
                <button class="btn btn-cart" style="color: black;">
                  <span class="material-icons font-size-40">
                      shopping_cart
                      </span>
                      
                      <span id="cart-qty" class="btn-cart__badge">
                        {{cart_count}}
                      </span>
                     
              </button>
              </a>
                
            </div>
        </div>
    <div>
    </div>
  </nav>