{% extends '../base.html' %} {% block title %}Krakye Clothing{% endblock%}
{% block content %} {%load static%}
  <!--Main site-->
  <main id="main-site">
    {% include "../modal.html"  %} 
    <!--Sorting-->
    <section>
      <div class="d-flex justify-content-end">
        <div class="product-select-box">
          <div class="product-short">
              <p>Sort By:</p>
              <select class="nice-select">
                  <option value="trending">Relevance</option>
                  <option value="sales">Name (A - Z)</option>
                  <option value="sales">Name (Z - A)</option>
                  <option value="rating">Price (Low &gt; High)</option>
                  <option value="date">Rating (Lowest)</option>
                  <option value="price-asc">Model (A - Z)</option>
                  <option value="price-asc">Model (Z - A)</option>
              </select>
          </div>
      </div>
      </div>
      
      
    </section>
    <!--End Sorting-->
    <!--New Arrivals-->
    <section id="new-clothes">
        <div class="container">
          <h4 class="font-inter font-size-20">All products</h4>
          <hr>
          <!--Owl carousel-->
          <div class="grid">
            {%for item in products%}
            <div class="grid-item m-0">
              <div class="shadow-sm item py-2 m-2" style="width: 200px">
                <div class="product font-inter">
                    <img src="{{item.image_one.url}}" alt="product-1" class="img-fluid" style="width: 198px; height: 242.3px;">
                  <div class="mt-2">
                    <h4 class="product-category mx-2 border-bottom"><a class="text-black font-size-14 text-muted" href="">{{item.category}}</a></h4>
                  </div>
                  
                  <div class="text-center ml-2">
                    <div class="d-flex align-items-center justify-content-between mb-0">
                      <h6>{{item.name}}</h6>
                      <button class="btn btn-wishlist pb-3" style="color: black;">
                        <svg id="btn_wishlist" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" onclick="myFunction(this)" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                      </button>
                    </div>
                    <div class="price d-flex text-left font-size-14">
                      <div class="new-price p-2">
                        <span><b>GH₵{{item.sale_price}}</b></span>
                        <span class="old-price text-muted">GH₵{{item.list_price}}</span>
                      </div>
                      <div class= "ml-auto p-2">
                        <span class="discount-percentage text-danger">{{item.discount}}%</span>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-product font-size-12 product-link"  data-toggle="modal" data-target=".bd-example-modal-lg" data-name="{{item.name}}" data-img="{{item.image_one.url}}" data-imga="{{item.image_two.url}}" data-imgb="{{item.image_three.url}}" data-description="{{ item.description}}" data-size="{{item.size_guide.url}}" data-listprice="{{item.list_price}}" data-saleprice="{{item.sale_price}}" data-productcategory="{{item.category}}" data-id="{{item.id}}">View Product</button>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        <!--End Owl carousel-->
        </div>
      </section>
      <!--End New Arrivals-->
  

    <!--Pagination-->
    <div class="container"> 
    {% include "./pagination.html" with page=products %} 
    </div>
    <!--End Pagination-->

     <!--Site Info-->
     <section id="site-info" class="bg-light pt-2">
        <div class="container">
          <div class="row ">
            <div class="col-lg-4 col-12 text-center">
              <i class="fa-solid fa-credit-card font-size-50 pb-2"></i>
              <h4>Secure Payment</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eos harum error, sunt tenetur odit.</p>
            </div>
            <div class="col-lg-4 col-12 text-center">
              <i class="fa-solid fa-headset font-size-50 pb-2"></i>
              <h4>Customer Support</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eos harum error, sunt tenetur odit.</p>
            </div>
            <div class="col-lg-4 col-12 text-center">
              <i class="fa-solid fa-truck-fast font-size-50 pb-2"></i>
              <h4>Nationwide Delivery</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eos harum error, sunt tenetur odit.</p>
            </div>
          </div>
        </div>
      </section>
      <!--End Site Info-->
    
  </main>
  <!--End Main site-->

{%endblock%}