{% extends './base.html' %} {% block title %}Krakye Clothing || Shop{% endblock%}
{% block content %}
  <!--Main site-->
  <main id="main-site">

    <!--Sorting-->
    <section>
      <div class="d-flex justify-content-end">
        <div class="product-select-box">
          <div class="product-short">
              <p>Sort By:</p>
              <select class="nice-select">
                  <option value="trending">Relevance</option>
                  <option value="sales">Name (A - Z)</option>
                  <option value="sales">Name (Z - A)</option>
                  <option value="rating">Price (Low &gt; High)</option>
                  <option value="date">Rating (Lowest)</option>
                  <option value="price-asc">Model (A - Z)</option>
                  <option value="price-asc">Model (Z - A)</option>
              </select>
          </div>
      </div>
      </div>
      
      
    </section>
    <!--End Sorting-->
    <!--Products-->
    <div class="container-fluid">
      <div class="shadow-sm item py-2 m-2" style="width: 200px">
        <div class="product font-inter">
          <button type="button" class="btn p-0" data-toggle="modal" data-target=".bd-example-modal-lg"><img src="assets/product-1.jpg" alt="product-1" class="img-fluid" style="width: 198px; height: 242.3px;"></button>
          <div class="mt-2">
            <h4 class="product-category mx-2 border-bottom"><a class="text-black font-size-14 text-muted" href="">Church</a></h4>
          </div>
          
          <div class="text-center ml-2">
            <div class="d-flex align-items-center justify-content-between mb-0">
              <h6>Kaftan Men</h6>
              <button class="btn btn-wishlist pb-3" style="color: black;">
                <svg id="btn_wishlist" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" onclick="myFunction(this)" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
              </button>
            </div>
            <div class="price d-flex text-left font-size-14">
              <span class="new-price p-2">$150</span>
              <span class="old-price text-muted p-2">$140</span>
              <span class="discount-percentage ml-auto p-2 text-danger">-7%</span>
            </div>
            <button type="submit" class="btn btn-product font-size-12" data-toggle="modal" data-target=".bd-example-modal-lg">View Product</button>
          </div>
        </div>
      </div>
    </div>
    <!--Products-->

    <!--Pagination-->
    <div class="container-fluid"> 
      <div class="pagination-area">
        <div class="row ">
            <div class="col-lg-6 col-md-6 font-inter ">
                <span>Showing 1-12 of 13 item(s)</span>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul class="pagination-box font-inter">
                    <li><a href="#" class="Previous"><i class="fa fa-chevron-left"></i> Previous</a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                      <a href="#" class="Next"> Next <i class="fa fa-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
      
    </div>
    <!--End Pagination-->
    {%endblock%}