{% extends "../base.html" %}
{%load crispy_forms_tags%}
{% load static %}
{% block title %}Payment{% endblock %}
{% block content %}
<div class="container">
    <div class= "d-flex row justify-content align-items-center py md-5 py-3" style= "min-height: 90vh">
        <div class="col-12">
            <h5>Make payment for: GHS {{cart.get_total_price}}</h5>
<div class="container col-6 my-3">
  <table class="table table-sm table-hover text-center">
      <thead class="table-success">
        <tr>
          <th scope="col" class="border-dark border-top-0 border-right border-bottom-0">Name</th>
          <th scope="col" class="border-dark border-top-0 border-right border-bottom-0" >Address</th>
          <th scope="col" class="border-dark border-top-0 border-bottom-0" >Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Festus Kwafo Ofori</th>
          <td>University Of Ghana, Legon<br>Accra, Ghana<br>Ghana</td>
          <td>0555358099</td>
        </tr>
      </tbody>
    </table>
</div> 
            <hr>
              <script src="https://js.paystack.co/v1/inline.js"></script> 
              <button class = "btn btn-large btn-success" onclick="payWithPayStack()" id ="django-paystack-button">Make Payment</button>
        </div>
    </div>
</div>
<script>
  
</script>

<script>
  function payWithPayStack(){
    var amount_val = {{cart.get_total_price}} * 100
    let currency = "GHS";
    let plan = "";
    let obj = {
      key: "{{paystack_public_key}}",
      email: "{{payment.email}}",
      amount: amount_val,
      ref : ""+ Math.floor(Math.random()* 1000000000 + 1),

      metadata:{
        custom_fields: [
        {
          display_name: name,
          variable_name: name,
        }
        ]
      },
      callback: function(response){
        var referenceid = response.reference;
        var status = response.status
        console.log(status)
        console.log(referenceid)
        $.ajax({
          type: "POST",
          url: "http://127.0.0.1:8000/orders/add/",
          data: {
            order_key: referenceid,
            status: status,
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'       
        },
          success: function(response){
            
            if (status == "success"){
              window.location.replace("{%url 'orders:invoice' %}")
              console.log(order_key)
            }else {
              $(".alert").text("Transaction reference not found");
              console.log("Transaction failed")
            }
          }
        })
      }
    }
    if (Boolean(currency)){
      obj.currency = currency.toUpperCase()
    }
    if (Boolean(plan)){
      obj.plan = plan;
    }
    var handler = PaystackPop.setup(obj);
    handler.openIframe();
  }
</script>
<script>

</script>
{%endblock%}