{% extends '../../base.html' %}
{% block title %}Edit Profile{% endblock%} {% block content %}
<style>
  .account-form input {
    border: 2px solid #ccc;
    height: calc(2em + 0.75rem + 2px);
  }

  .account-form input:focus {
    border-color: #1497ff;
    box-shadow: none;
  }
</style>
  <!--Main site-->
  <main id="main-site">

    <!--Billing and Shipping-->
        <section id="billing">
            <div class="container mt-5 mb-3">
              <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                  <div class="card">
                    <h3 class="font-inter text-center mt-4">Billing Details</h3>
                    <h3 class="font-inter text-left mt-3 pl-3">Details</h3>
                <div class="checkout-forms d-flex">
                      <form class="m-auto account-form px-4 pt-4" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{orderForm}}
                        <hr class="mb-3">
                        <button class="btn btn-product btn-block btn-forms py-2 mb-4 mt-5 fw-bold font-inter" type="submit">SUBMIT
                        </button>
                      </form>
                </div>
    
                  </div>
                </div>
              </div>
            </div>
        </section>
    <!--End Billing and Shippping-->
        
      </main>
      <!--End Main site-->
      <script>
        var Btnforms = document.getElementsByClassName('btn-forms')

          for (var i = 0; i < Btnforms.length; i++){
            Btnforms[i].addEventListener('click', function(){
                var inputName = $('#inputName').val()
                var id_location = $('#id_location').val()
                var id_phone_number = $('#id_phone_number').val()
                var id_post_code = $('#id_post_code').val()
                var id_address = $('#id_address').val()
                $.ajax({
                    type: 'POST',
                    url: 'http://127.0.0.1:8000/orders/update/',
                    data: {
                        Fullname: inputName,
                        Location: id_location,
                        PhoneNumber: id_phone_number,
                        Postcode: id_post_code,
                        Address: id_address,
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: 'formspost'
                    },
                    success: function (json) {
                      
                      
                    },
                    error: function (xhr, errmsg, err) {}
                });
              })
          }
      </script>
{%endblock%}
